.big-title
{
	font-family: Ubuntu, sans-serif;
	font-size: 500%;
	text-align: center;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

body
{
	background-color: #FFFFFF
}
	
